.editor-content-entry {
    
    margin-bottom: 40px;


    // common spacing 

    [class*="wp-block-"] {

        margin-bottom: 40px;
    }


    // typography

    a {

        text-decoration: none;
        font-weight: 400;
    }

    p {

        margin-bottom: 20px;
        line-height: 1.8;
    }

    img {

        height:auto;
        width:inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        margin-bottom: 30px;
    }

    b,
    strong {

        font-weight: bold;
    }

    dfn {

        font-style: italic;
    }

    mark {

        background: #ff0;
        color: #111111;
    }

    small {

        font-size: 80%;
    }

    sub,
    sup {

        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {

        top: -0.5em;
    }

    sub {

        bottom: -0.25em;
    }

    dfn,
    cite,
    em,
    i {

        font-style: italic;
    }

    blockquote {

        position: relative;
        text-align: left;
        margin: 2em 0;
        padding:40px;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        background: transparent;
        border-left:none;
        border:1px solid #444444;
    }

     blockquote:before {

        content:'\f10d';
        font-family:'fontAwesome';
        display:inline-block;
        font-size:16px;
        width:40px;
        height:30px;
        background:white;
        color:red;
        font-style:normal;
        font-weight: normal;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: -15px;
        left: 20px;
     }

    blockquote p {

        margin: 0;
        margin-bottom: 0.5em;
        font-size: 18px;
        line-height:1.8;
    }

    blockquote cite {

        display: block;
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
        color: #9c9c9c;
    }

    .wp-block-quote.is-large,
    .wp-block-quote.is-style-large {

        font-size: 17px;
        margin: 0;
        padding:40px;
        margin-bottom: 40px;
    }

    .wp-block-quote.is-large p,
    .wp-block-quote.is-style-large p {

        font-size: 24px;
    }

    .wp-block-quote.is-large cite, 
    .wp-block-quote.is-large footer, 
    .wp-block-quote.is-style-large cite, 
    .wp-block-quote.is-style-large footer {

        text-align:left;
        font-size:13px;
    }

    code,
    kbd,
    tt,
    var {

        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 15px;
    }

    pre {

        background: #eeeeee;
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 1em;
        max-width: 100%;
        overflow-x: auto;
        padding: 30px;
    }


    figure {

        position: relative;
        text-align: left;
    }

    code,
    kbd,
    samp {

        font-family: monospace, monospace;
    }

    fieldset {

        border: 1px solid #eeeeee;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    q {
        font-style: italic;
        font-weight: bold;
        letter-spacing: 1px;
    }

    legend {

        border: 0;
        padding: 0;
    }

    textarea {

        overflow: auto;
    }

    optgroup {

        font-weight: bold;
    }

    table {

        border-collapse: collapse;
        border-spacing: 0;
        max-width: 100%;
        width: 100%;
    }

    td,
    th,
    td,
    th,
    .mce-item-table,
    .mce-item-table td,
    .mce-item-table th,
    .mce-item-table caption {

        padding: 10px 15px;
        border: 1px solid #eeeeee;
        text-align: left;
    }

    address {

        margin: 0 0 1em;
    }

    abbr,
    acronym {

        border-bottom: 1px dotted #eeeeee;
        cursor: help;
    }

    mark,
    ins {

        background: #f5f5f5;
        text-decoration: none;
    }

    big {

        font-size: 125%;
    }

    hr {

        background-color: #eeeeee;
        border: 0;
        height: 1px;
        padding: 0;
        margin: 0;
        clear: both;
    }

    ul,
    ol {

        margin:0 0 20px 40px;
        padding:0;
    }

    ul li,
    ol li {
        
        position: relative;
        padding:7px 0;
    }

    li>ul,
    li>ol {

        margin-bottom: 0;
        margin-left: 15px;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0 15px 15px;
    }

    img {

        height: auto; /* Make sure images are scaled correctly. */
        max-width: 100%; /* Adhere to container width. */
        vertical-align: middle;
        width:inherit; // let images be of their own size
    }


    // aligment 


    .alignleft {

        display: block;
        float: left;
        width:auto;
        margin-right: 15px;
        clear: both;
    }

    .alignright {

        display: block;
        float: right;
        width:auto;
        margin-left: 15px;
        clear: both;
    }

    .aligncenter {

        clear: both;
        display: block;
        width:auto;
        margin: 0 auto;
        text-align: center;
    }

    .text-alignleft {

        text-align: left;
    }

    .text-alignright {

        text-align: right;
    }

    .text-aligncenter {

        text-align: center;

    }


    /*
    ==========================
    =
    = Elements
    =
    ======================================
    */


    // gutenberg

    .wp-block-gallery figure {

        position: relative;
    }

    .wp-block-image figcaption {

        margin:10px 0;
        font-size:12px;
    }
    
    .wp-block-image>figcaption, 
    .wp-block-image .aligncenter>figcaption, 
    .wp-block-image .alignleft>figcaption, 
    .wp-block-image .alignright>figcaption, 
    .wp-block-image.is-resized>figcaption {
        
        display:block;
        text-align:center;
        caption-side: inherit;
    }

    // full image

     .alignfull,
     .alignwide {

        margin-bottom:40px;
     }

     figure.alignfull,
     figure.alignwide {

        max-width:inherit;
     }

    ul.wp-block-gallery.alignfull,
    ul.wp-block-gallery.alignwide {

        margin-left: 50%;
    }

    // gutenberg blocks & columns
    
    .wp-block-spacer,
    .wp-block-image,
    .wp-block-column,
    .wp-block-columns,
    .wp-block-search__label,
    .wp-block-search__button,
    .wp-block-rss__item,
    .wp-block-rss__item-title,
    .wp-block-latest-comments__comment-meta,
    .wp-block-latest-comments__comment-excerpt {

        margin-bottom: 0;
    }


    // gutenberg cover block 


    .wp-block-cover__inner-container,
    .wp-block-cover__inner-container p {

        margin-bottom: 0;
    }


    // gutenberg gallery

    .wp-block-gallery {

        margin-bottom: 30px;
    } 

    ul.wp-block-gallery {

        padding-left: inherit;
        margin-left: inherit;
        
    }

    ul.wp-block-gallery li {

        padding:0;
    }


    // gutenberg pullquote

    .wp-block-pullquote {
        
        padding:0;
        padding:40px 0;
        margin-bottom: 30px;
        border-top:2px solid #444444;
        border-bottom:2px solid #444444;
    }

    .wp-block-pullquote blockquote {

        border:none;
        padding:0;
        margin:0;
        text-align:center;
    }

    .wp-block-pullquote blockquote:before {
        
        display:none;
    }

    .wp-block-pullquote blockquote.has-text-color cite {

        color:inherit;
    }

    .wp-block-pullquote.is-style-solid-color {
        
        padding:30px;
        border-top:transparent;
        border-bottom: transparent;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
        border-radius:5px;
    }

    .wp-block-pullquote.is-style-solid-color blockquote {

        width: 100%;
        max-width:100%;
    }

    .wp-block-pullquote.is-style-solid-color blockquote p {

        font-size:20px;
        line-height:1.6;
        margin-bottom: 10px;
    }

    .wp-block-pullquote__citation, 
    .wp-block-pullquote cite, 
    .wp-block-pullquote footer {

        text-transform: inherit;
    }


    // gutenberg button

    .wp-block-button__link {

        padding:15px 40px;
        margin-bottom: 0;
    }


    // gutenberg media & text

    .wp-block-media-text .wp-block-media-text__media,
    .wp-block-media-text .wp-block-media-text__content {

        margin-bottom: 0;
    }

    .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {

        padding-left: 0;
    }

    .wp-block-media-text.has-media-on-the-left .wp-block-media-text__content {

        padding-right: 0;
    }


    // gutenberg seperator

    .wp-block-separator {
        
        border-width: 1px;
        border-bottom-color:#f3f3f3;
    }


    // gutenberg code, pre, verse
    
    .wp-block-verse,
    .wp-block-code,
    .wp-block-preformatted {

        background-color:#fffcde;
        padding:30px;
        border:none;
    }


    // gutenberg table

    .wp-block-table td,
    .wp-block-table th {

        padding: 15px 20px;
        border-color:#eeeeee;
    }


    // gutenberg block image aligment

    .wp-block-image .alignleft {

        margin-right: 30px;
    }

    .wp-block-image .alignright {

        margin-left: 30px;
    }


    // gutenberg widgets
    
    .wp-block-rss,
    .wp-block-categories-list,
    .wp-block-latest-posts,
    .wp-block-archives,
    .wp-block-latest-comments {

        background: #333333;
        padding-left: 0;
        padding: 30px 15px 30px 50px;
        margin-left: 0;
    }
    
    .wp-block-rss li,
    .wp-block-categories-list,
    .wp-block-latest-posts li,
    .wp-block-archives li,
    .wp-block-latest-comments__comment-meta,
    .wp-block-latest-comments__comment-meta a,
    .wp-block-latest-comments__comment-excerpt p {

        color: #d8d8d8;
    }
    
    .wp-block-rss li a,
    .wp-block-categories .cat-item a,
    .wp-block-latest-posts li a,
    .wp-block-archives li a {

        display: inline-block;
        width: 80%;
        color: #d8d8d8;
    }
    
    .wp-block-rss li a:hover,
    .wp-block-categories .cat-item a:hover,
    .wp-block-latest-posts li a:hover,
    .wp-block-archives li a:hover {

        color: #ffffff;
    }
    
    .wp-block-rss li a,
    .wp-block-latest-posts li a {

        display: block;
        width: 100%;
    }

    .wp-block-latest-posts__post-date,
    .wp-block-latest-comments__comment-date {

        color: #9a9a9a;
    }

    .wp-block-latest-comments {

        padding: 30px;
    }

    .wp-block-latest-comments li {

        padding: 30px;
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .wp-block-latest-comments li:last-child {

        margin-bottom: 0;
    }

    .wp-block-latest-comments footer {

        background: transparent;
    }
    
    .wp-block-latest-comments__comment-meta,
    .wp-block-latest-comments__comment-excerpt {

        margin-left: 0;
    }

    .wp-block-latest-comments__comment-excerpt p {

        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        border-top: 1px dotted rgba(255, 255, 255, 0.1);
    }

    .wp-block-search .wp-block-search__label {
        
        display:block;
        width:100%;
        margin-bottom: 10px;
        font-weight:600;
    }

    .wp-block-search .wp-block-search__input {

        flex:0 0 calc( 100% - 120px );
        max-width:calc( 100% - 120px );
        margin-bottom: 0;
        border-right:none;
    }

    .wp-block-search .wp-block-search__button {

        flex:0 0 calc( 120px );
        max-width:calc( 120px );
        margin:0;
        height:48px;
    }



}